@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

:root {
    --accent: #7ebee2;
    --dark: #08090a;
    --light: rgb(31, 216, 31);
    --border: 5px solid var(--accent);
    --sidetext: rgb(208, 255, 1); 
}



body{
    font-family: 'Baskervville', serif;
    font-size: 2rem;
    background: var(--dark);
    letter-spacing: 2px;
    display: grid;
    grid: auto / 1fr minmax(250px, 500px) 1fr;
    text-align: center;
}



h1 {
    color: var(--light);
}

h1, div{
    grid-column: 2 / 3;
}

p{
    margin: 0;
    color: var(--light);
}

div{
    height: 80vh;
    margin: 10vh 0;
    border: var(--border);
}

.title{
    grid-column: 1 / 2;
    writing-mode: vertical-lr;
    margin: 0 .5em 0 auto;
    color: var(--sidetext);
    opacity: 1;

}

.table{
    display:table;
}

.flexbox {
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
}

.grid{
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.margins{
    display: flex;
    display: grid;
}

.margins p {
    margin: auto;
}